@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Source+Sans+3:wght@200&family=Varela+Round&display=swap');

:root {
    --corp: white;
    --cor0: #07f9a2;
    --cor1: #09c184;
    --cor2: #0a8967;
    --cor3: #0c5149;
    --cor4: #0d192b;
    --cor5: #1c31a5;
    --cor6: #101f78;
    --cor7: #020f59;
    --cor8: #010937;
    --cor9: #000524;
    --cor10:#0c4f6a;
    --cor11:#09415a;
    --cor12:#06324b;
    --cor13:#03243b;
    --cor14:#00152b;

    --fonte-padrão:'Source Sans 3', sans-serif;
    --fonte-destaque:'Jost', sans-serif;
    --fonte-título:'Valera Round', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-padrão);
}

body {
    background-image: linear-gradient( to right, #0a8967, #0c4f6a, #03243b);

}

header {
    top: 0;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    opacity: 0.91;
    background-color: transparent;
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.35));
    position: fixed;
}

nav { 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img-header {
    text-decoration: none;
    outline: none;
    padding-left: 70px;
    border-radius: 35px;
}

#h2-header {
    font-family: var(--fonte-destaque);
    color: var(--corp);
    padding-right: 500px;
}

#ul-header {
    text-align: right;
    padding-right: 80px;
}

.li-header {
    display: inline-block;
    padding-right: 50px;
}

.a-header {
    color: var(--corp);
    border-radius: 5.45px;
    transition-duration: 1.5;
    text-decoration: none;
}

.a-header :hover {
    text-decoration: wavy;
    color: var(--cor9);
}

#home {
    background-repeat: no-repeat;
}

#div-central-home {
    display: inline-block;
    
}

#div-conteudo-home {
    margin-top: 200px;
    margin-left: 80px; 
    height: 100vh;   
}

.h1-home {
    font-weight: bold;
    font-size: 60px;
    color: var(--corp); 
}

.h1-homee {
    font-weight: bold;
    font-size: 60px;
    color: var(--cor6);
}

#span-home {
    padding-top: 2vh;
    line-height: 2;
    font-weight: bold;
    font-size: 20px;
    color: var(--cor9);
}

/* Estilo para o rodapé */
footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:var(--cor5);
    color: var(--corp);
}

.p-footer {
    padding-left: 0;
}

.a-footer {
    color: var(--corp);
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 1.0; 
}

a:hover {
    text-decoration: solid;
    color: var(--cor9);
}